.settings { 
    width: calc(25% - 30px);
    position: sticky;
    top: 100px;
    left: 0px;
    padding: 9px 14px;
    background-color: #fff;
    border-radius: 25px;
    height: fit-content;
    box-shadow: 0px 2px 15px rgba(0, 0,0, .2);
}
.list { 
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.item { 
    cursor: pointer;
    width: fit-content;
    padding: 4px 9px ;
    border-radius: 25px;
    border: 1px solid var(--blue);
    color: var(--blue);
    transition: all 0.4s ease;
    
    background-color: var(--blue);
}
.link { 
    color: #fff;
    transition: all .4s ease ;
}
.item:hover { 
    background-color: #fff;
}
.item:hover  > .link { 
    color: var(--blue);
}
.active { 
    background-color: var(--blue);
    color: var(--white);
}
@media (max-width:660px) {
    .settings { 
        display: none;
    }
}