.slider{ 
    width: 100%;
    display: flex;
    overflow: hidden;
}
.slide { 
    min-width: 100%;
}

.item { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    align-items: center;
    gap: 40px;
    transition: all .4s ease;
}
.content { 
    display: flex;
    width: calc(50% - 20px);
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.heading { 
    color: var(--blue);
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 1; 
    text-transform: uppercase;
    transition: all .6s ease;
    opacity: 1;
}

.pagination { 

    display: flex;
    gap: 10px;
    width: fit-content;
    margin-top: 10px;
    align-items: center;
    padding: 20px;
}
.pagItem { 
    cursor: pointer;
    padding: 5px;
    background-color: black;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    background: rgba(0, 0, 0, 0.3);
    transition: all .4s ease;
    
}
.pagItem.active { 
    background-color: var(--blue);
    transform: scale(1.5);
}
.pagContainer { 
    width: 100%;
    display: flex;
    justify-content: center;
}

.description { 
    color: var(--text-color);
    height: fit-content;
    max-width: 600px;
    max-height: 130px;
    overflow: hidden;
    text-overflow: ellipsis " [..]";
    margin:  0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    transition: all .6s ease;
}
.priceContainer { 
    display: block;
}
.price { 
    font-size: 20px;
    font-weight: 600;
    color: var(--blue);
}
.link { 
    width: fit-content;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    padding: 13px 18px;
    border: 2px solid var(--blue);
    border-radius: 35px;
    background-color: var(--blue);
    transition: all .5s ease;
}
.link:hover { 
    
    color: var(--blue);
    background: none;
}
.imageContainer { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 20px);
    background-color: var(--light-blue);
    border-radius: 25px;
    height: 100%;
}
.image { 
    width: auto;
    height: 100%;
    max-height: 650px;
    object-position: center center;
    object-fit: contain;
    position: relative;
    z-index: 1;
}

@media (max-width:1200px) {
    .heading  { 
        font-size: 42px;
    }
}
@media (max-width:960px) {
    .heading  { 
        font-size: 34px;
    }
    .description { 
        font-size: 16px;
        margin: 30px 0;
    }
}
@media (max-width:660px) {
    .content { 
        width: 100%;
    }
    .heading  { 
        font-size: 24px;
    }
    .description { 
        font-size: 12px;
        margin: 20px 0;
    }

    .imageContainer { 
        display: none;
    }
    .link { 
        font-size: 12px;
    font-weight: 400;
    padding: 8px 15px;
    }
}